.MainCard{
    height: 90vh;
    width: 60vw;
    /* background-color: green; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:750px)
{
    .MainCard{
        width: 80vw;
    }
}


@media screen and (max-width:650px)
{
    .MainCard{
        width: 80vw;
    }
}



@media screen and (max-width:600px)
{
    .MainCard{
        width: 90vw;
    }
}

@media screen and (max-width:500px)
{
    .MainCard{
        width: 95vw;
    }
}

.Ord{
  padding: .5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}



.NoOrder{
  
    font-weight: 700;
    font-size: 2rem;
    display: block;
    color: orangered;
 }

.MainMiddleCard{
    height: 80%;
    width: 80%;
    /* background-color: blue; */
    display: block;
    text-align: center;
    overflow: scroll;
    font-size: 1.5rem; 
}


@media screen and (max-width:750px)
{
    .MainMiddleCard{
        width: 80%;
    }
}

@media screen and (max-width:500px)
{
    .MainMiddleCard{
        width: 80%;
        
    }
}

@media screen and (max-width:400px)
{
    .MainMiddleCard{
        width: 95%;
     }
    .Name{
        font-size: 1rem;
    }
}

@media screen and (max-width:350px)
{
    .MainMiddleCard{
        width: 98%;
     }
    .Name{
        font-size: .8rem;
    }
}
@media screen and (max-width:270px)
{
    .MainMiddleCard{
        width: 80%;
     }
}
@media screen and (max-width:170px)
{
    .MainMiddleCard{
        width: 90%;
     }
}

@media screen and (max-width:150px)
{
    .Name{
        font-size: .55rem;
    }
}

@media screen and (max-width:110px)
{
    .Name{
        font-size: .4rem;
        margin-top: 5px;
    }
}




.SmallCard{
    
    width: 60%;
    background-color: rgb(253, 8, 8);
    border: 2px solid rgb(253, 8, 8);
    border-radius: 15px;
    display: flex;
    height: 20%;
    flex-shrink: 0;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-size: 600;
    text-transform: capitalize;
    margin:  5px auto;
    cursor: pointer;
    transition: all .5s;
    box-shadow: .5px .5px 4px 1px rgb(44, 43, 43);
    color: white;
    font-weight: 600;
    
}

@media screen and (max-width:1100px)
{
    .SmallCard{
        width: 70%;
    }
}

@media screen and (max-width:900px)
{
    .SmallCard{
        width: 85%;
    }
}

@media screen and (max-width:270px)
{
    .SmallCard{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .SmallCard{
        width: 70%;
    }
     
}
@media screen and (max-width:150px)
{
     
    .SmallCard{
        width: 60%;
    }

    .NoOrder{
        font-size: .8rem;
    }

    .Ord{
        font-size: .9rem;
    }
     
}

@media screen and (max-width:110px)
{
     
    .SmallCard{
        width: 60%;
        padding: .2rem .4rem;
    }
     
}
@media screen and (max-width:94px)
{
     
    .SmallCard{
      background-color: transparent;
      color: black;
      border: none;
      box-shadow: none;
      padding-left: 0;
    }
     
}

@media screen and (max-width:85px)
{
     
    .SmallCard{
     text-align: start;
     justify-content: start;
     align-items: flex-start;
     
    }
    .Name{
        font-size: .2rem;
    }
    .Ord{
        font-size: .5rem;
    }
    .NoOrder{
        font-size: .4rem;
    }
     
}


.SmallCard:hover {
    box-shadow: 1px 1px 5px 2px rgb(44, 43, 43);
    transform: scale(1.01);
    transform-origin: left;
}

@media screen and (max-width:94px)
{
 .SmallCard:hover{
     box-shadow: none;
 }
}


.LeftSide,.RightSide{
    width: 60%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly   ;
    align-items: flex-start;
    text-transform: capitalize;
    letter-spacing: 1.1px;
}


.RightSide{
    width: 40%;
    align-items: flex-start;
    /* background-color: yellow; */
}

@media screen and (max-width:270px)
{
    
    .LeftSide,.RightSide{
        display: block;
        margin-top: 5px;
        width: 100%;
        margin: 0 auto;
    }
}