

.Item
{
    padding: 6px 10px;
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
    /* background-color: red; */
    height: 80px;
   
}


/* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap'); */



.Heading{
    /* font-family: 'Bad Script', cursive; */
    letter-spacing: 1px;
    font-size: calc(1vw + .65rem);
    font-weight: 400;
    margin: 0;
    padding: 0;
    /* border: 2px solid blue; */
    height: 100%;
    

}

.HeadingIn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: crimson; */
}

/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap'); */
.Material{
  /* font-family: 'Amatic SC', cursive; */
  font-weight: 200;
   padding: 2px 1px;
    font-size: calc(.4vw + .4rem);
  /* width: 60%; */
  word-wrap: break-word;   
}

.Tick{
    height:20px;
    width: 100%;
    display:block;
    /* background-color: blue; */
    flex-shrink: 1;
    border-radius: 2px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    box-shadow: 0px 0px black;
   
}

@media screen and (max-width:270px)
{
    .Num{
        margin-top: 3px;
        font-size: .9rem;
    }
}

.Tick span{
    flex: 1;
    display:block;
    justify-content: space-between;
}

@media screen and (max-width:270px)
{
    .Tick{
         width: 80%;
         margin-top: -15px;
    }
    .Item{
        margin-bottom: 2px;
    }
}
.TickSelect{
    height: 2px;
    width: 2px;
    outline-color: rgb(36, 12, 248);
}

.Price{
    /* font-family: 'Amatic SC', cursive; */
    font-size: calc(.8vw + .4rem);
    font-weight: 700;
    letter-spacing: 1px;

}

.PriceIn{
    height: 100%;
    width: 30%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


@media screen and (max-width:200px)
{
    .Tick{
        height: 80%;
        height: 17px;
        width: 100%;
    }

    .Price{
        font-size: .5rem;
    }
}



 .Add{
    background-color: green;    
    box-shadow: 0px 0px  2px 1px black;
    cursor: pointer;
     
} 

.Add:active{
    box-shadow: 0px 0px  .5px .5px black;
}


.Sub{
    background-color: red;
    box-shadow: 0px 0px  2px 1px black;
    cursor: pointer;
}

.Sub:active{
    box-shadow: 0px 0px  .5px .5px black;

}



@media screen and (max-width:200px)
{
    .Item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }
    .Price{
        margin-bottom: 15px;
        font-size: .6rem;
        text-align: center;
        /* background-color: orange; */
    }

    .PriceIn{
        width: 100%;
        
    }
    .Tick{
    
        margin:  0 auto;
        margin-top: -15px;
    }
    .Heading{
        font-size: 1rem;
    }
    .HeadingIn  {
        text-align: center;
    }
}
@media screen and (max-width:160px)
{
    
    .Tick{
         width: 80%;
    }
    .Heading{
        font-size: .8rem;
    }
    .Price{
        font-size: .6rem;
    }
  
}
@media screen and (max-width:120px)
{
    .Tick{
        width: 90%;
         
   }
    
    .Heading{
        font-size: .7rem;
    }
    .Price{
        font-size: .5rem;
    }
    
}